.PokeApp-searchContainer
    background-color #313131


.PokeApp-headerContainer
    width 80%
    margin 0 auto


.PokeApp-filterPokemonContainer
    width 80%
    margin 0 auto


.PokeApp-pokemonListContainer
    width 80%
    margin 0 auto


.PokeApp-loadPokemon
    margin 2em auto
    width 80%
    text-align center


