$grass = #9BCC50
$poison = #B97FC9
$fire = #FD7D24
$flying = #3DC7EF
$water = #4592C4
$bug = #749A3D
$normal = #A4ACAF
$electric = #EED535
$ground = #AB9842
$fairy = #FDB9E9
$fighting = #D56723
$dragon = #F16E57

.button
    background-color #30a7d7
    padding .7em
    width 35%
    color white
    border-radius .3em
    cursor pointer

.grass
    background-color $grass
.poison
    background-color $poison
.fire
    background-color $fire
.flying
    background-color $flying
.water
    background-color $water
.bug
    background-color $bug
.normal
    background-color $normal
.electric
    background-color $electric
.ground
    background-color $ground
.fairy
    background-color $fairy
.fighting
    background-color $fighting
.dragon
    background-color $dragon